<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>metaltest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E916CD661E8B93E800C8CF82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E916CD831E8B93E900C8CF82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E916CD8E1E8B93E900C8CF82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
